PORT=3000
DB_HOST=127.0.0.1
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=mdp
DB_NAME=carburant_db
FUEL_PRICES_URL=https://donnees.roulez-eco.fr/opendata/jour
CRON_SCHEDULE=0 6 * * *

JWT_SECRET=une_cle_secrete_tres_longue
JWT_EXPIRES_IN=7d